@page
@using static Trailblazor.Server.Infrastructure.Constants.Authentication
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@section Styles {
    <link rel="stylesheet" href="~/css/login.min.css" />
}

@{
    <div id="externalProviderContainer">
        <div id="siteTitle">
            <img alt="Trailblazor" src="~/img/trailblazor-icon.svg" width="100" />
            <h1>Trailblazor</h1>
        </div>
        <form id="externalProviderForm" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class="text-white">Sign in with</h2>
            @foreach (var provider in Model.ExternalLogins!)
            {
                switch (provider.DisplayName)
                {
                    case ExternalProviders.Google:
                        <button type="submit" class="external-provider" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                            <div class="external-provider-inner">
                                <img src="~/img/google_logo.svg" />
                                <span>Google</span>
                            </div>
                        </button>
                        break;
                    case ExternalProviders.Microsoft:
                        <button type="submit" class="external-provider" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                            <div class="external-provider-inner">
                                <img src="~/img/microsoft_logo.svg" />
                                <span>Microsoft</span>
                            </div>
                        </button>
                        break;
                }
            }
        </form>
    </div>
}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
